<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title> <!--{{text}} are liquid tags, everything else stays the same.-->
		<!-- link to main stylesheet -->
		<base href="https://github.com/thecatherinehuang/thecatherinehuang.github.io/">
<!-- 		<base href ="http://127.0.0.1:4000/"> -->
		<link rel="stylesheet" href="css/main.css" type='text/css'>
		<script src="https://kit.fontawesome.com/da145c5b1d.js" crossorigin="anonymous"></script>
 	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="">Home</a></li>
        		<li><a href="resume/catherinehuang.pdf">Resume</a></li>
				<li><a href="projects">Projects</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{content}}
		</div><!-- /.container -->
		<footer>
    		<ul>
    			<li> Contact me:
        		<li><a href="mailto:thecatherinehuang@berkeley.edu">
					<i class="fas fa-envelope fa-2x"></i> 
        		</a></li>
        		<li><a href="https://github.com/thecatherinehuang">
        			<i class="fab fa-github-square fa-2x"></i>
				</a></li>
				<li><a href="https://www.linkedin.com/in/huang-catherine">
						<i class="fab fa-linkedin fa-2x"></i>
				</a></li>
			</ul>
		</footer>
	</body>
</html>
