<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title> <!--{{text}} are liquid tags, everything else stays the same.-->
		<!-- link to main stylesheet -->
		<base href="http://thecatherinehuang.github.io/" />
		<!--base href="localhost/thecatherinehuang.github.io/_site/"-->
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="">Home</a></li>
        		<li><a href="resume/catherinehuang.pdf">Resume</a></li>
			<li><a href="projects">Projects</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{content}}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:thecatherinehuang@berkeley.edu"><img src="https://cdn4.iconfinder.com/data/icons/miu/24/circle_social-email-glyph-512.png", height="20"></a></li>
        		<li><a href="https://github.com/thecatherinehuang"><img src="https://image.flaticon.com/icons/png/512/25/25231.png", height="20"></a></li>
        		<li><a href=""><img src="https://i7.pngguru.com/preview/573/791/661/computer-icons-linkedin-logo-advertising-carex.jpg", height="20"></a></li>
			</ul>
		</footer>
	</body>
</html>
